Repository lantanagroup/link-cloud, pull requests merged in 2025-07, with the labels that each got.

#952 LNK-3991: Exception Thrown for Category Without Associated Rule
  Java/validation/src/main/java/com/lantanagroup/link/validation/services/CategorizationService.java
  Java/validation/src/test/java/com/lantanagroup/link/validation/services/CategorizationServiceTest.java
Labels: codex

#1000 LNK-3574: Report Manifest Submit Payload
  DotNet/Report/Jobs/EndOfReportPeriodJob.cs
  DotNet/Report/KafkaProducers/ReportManifestProducer.cs
  DotNet/Report/KafkaProducers/SubmitPayLoadProducer.cs
  DotNet/Report/KafkaProducers/SubmitReportProducer.cs
  DotNet/Report/Listeners/ResourceEvaluatedListener.cs
  DotNet/Report/Listeners/ValidationCompleteListener.cs
  DotNet/Report/Program.cs
  DotNet/Report/Services/BlobStorageService.cs
  DotNet/Report/Services/ServiceActivitySource.cs
Labels: kafka-topic-change

#1005 LNK-4101: create report tests
  DotNet/Report/Core/PatientReportSubmissionBundler.cs
  DotNet/Report/Jobs/EndOfReportPeriodJob.cs
  DotNet/Report/Listeners/ValidationCompleteListener.cs
  DotNet/Report/Services/BlobStorageService.cs
  DotNet/ServiceTests/IntegrationTests/Report/EndOfReportPeriodJobTests.cs
  DotNet/ServiceTests/IntegrationTests/Report/Listeners/ValidationCompleteListenerTests.cs
  DotNet/ServiceTests/IntegrationTests/Report/ReportIntegrationTestFixture.cs
Labels: kafka-topic-change

#1012 TECH_DEBT: Adding more definition to Report domain
  .github/workflows/smoke-test.yaml
  docs/domains/Report/index.mdx
Labels: config-change
